# Python
__pycache__/
*.py[cod]

# Virtual environments
.env
.venv/

# Poetry
poetry.lock

# Jupyter Notebook
.ipynb_checkpoints

# IDE settings
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Temporary files
*.tmp
temp_cv_*

# OpenAI API key file (if you're using a separate file for this)
openai_api_key.txt